@tailwind base;
@tailwind components;
@tailwind utilities;

/* Hide scrollbar for Chrome, Safari and Opera */
::-webkit-scrollbar {
  display: none;
}



.Container {
  max-width: 90rem;
  margin: auto;
  padding: 0px 20px 0px 20px;
}